{% extends "./base.html.twig" %}

{% block title %} CommunityKitchen {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur CommunityKitchen!</h1>
            <p class="lead">CommunityKitchen est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créer. Tu pourras
            partager tes recettes à la communauté du site, ou bien les garder en privées.</p>
            <hr class="my-4">
            {% if app.user %}
                Vous êtes connecté, vous pouvez accéder à vos recettes, ou bien en créer de nouvelles.
            {% else %}
                <p>Pour commencer rendez-vous sur la page d'inscription pour utiliser l'application.</p>
                <a class="btn btn-primary btn-lg" href="{{ path('security.login') }}" role="button">Connexion</a>
                <a class="btn btn-primary btn-lg" href="{{ path('security.register') }}" role="button">Inscription</a>
            {% endif %}
        </div>

        <div class="recipes">
            <h2 class="mt-4">Exemples de recette de la communauté</h2>
            <div class="d-flex justify-content-between mt-4">
                {% for recipe in recipes %}
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Recette n°{{ recipe.id }}</div>
                        <div class="card-body">
                            <a href="{{ path ('recipe.show', {id: recipe.id})}}">
                            <h4 class="card-title">{{ recipe.name }}</h4>
                            </a>
                            <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...'  }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}