{% extends "base.html.twig" %}

{% block title %}CommunityKitchen - {{ recipe.name }}{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4 p-2">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-4">{{ recipe.name }}</h1>

        <div class="recipe_image">
            <img style="max-width: 500px" class="mt-4 mb-4" src="{{  vich_uploader_asset (recipe, 'imageFile') }}">
        </div>

        <div>
            <span class="badge bg-primary">Créée le {{ recipe.createdAt|date('d/m/Y') }}</span>
        </div>

        <p class="mt-4">La note moyenne de cette recette est de : {{ recipe.average|number_format(2, '.', ',') }}/5</p>


        <div class="mt-4">
            {% if recipe.time %}
                <p class="mt-4">Temps (en minutes) : {{ recipe.time }}</p>
            {% else %}
                <p class="mt-4">Temps non renseigné</p>
            {% endif %}
        </div>

        <div class="mt-4">
            {% if recipe.nbPeople %}
                <p>Pour : {{ recipe.nbPeople }} personnes</p>
            {% else %}
                <p class="mt-4">Nombre de personnes non renseigné</p>
            {% endif %}
        </div>

        <div class="mt-4">
            {% if recipe.difficulty %}
                <p>Difficulté : {{ recipe.difficulty }}/5</p>
            {% else %}
                <p class="mt-4">Difficulté non renseigné</p>
            {% endif %}
        </div>

        <div class="mt-4">
            {% if recipe.price %}
                <p>Prix (en euros) : {{ recipe.price }}</p>
            {% else %}
                <p class="mt-4">Prix non renseigné</p>
            {% endif %}
        </div>

        <div class="mb-4">
            {{ recipe.description|raw }}
        </div>

        <div class="mt-4">
            <p>Les ingrédients :</p>
            {% for ingredients in recipe.ingredients %}
                <span class="badge bg-primary">{{ ingredients.name}}</span>
            {% endfor %}
        </div>

        <div class="mark mt-4">
            {{ form(form) }}
        </div>

    </div>
{% endblock %}
